@media only screen and (max-width: 800px) {
    #logo h1 {
        font-size: 2.5rem;
    }

    header nav {
        display: grid;
        gap: .5rem;
    }
    
    #start-quiz-form {
        display: grid;
        gap: .5rem;
    }

    #start-quiz-form select,
    #start-quiz-form input,
    #start-quiz-form button,
    #start-quiz-form option {
        max-width: 280px;
    }

    #answers button {
        font-size: 1rem;
        min-width: unset;
        margin: 0;
        padding: .5rem;
    }

    #quiz h2 {
        font-size: 1.2rem;
        font-family: "Fredoka", sans-serif;
        font-weight: normal;
    }

    #answers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 1.5rem 0;
    }

    #high-scores {
        grid-template-columns: repeat(1, 1fr);
    }
}