#quiz-page {
    display: flex;
    flex-direction: column;
}

#quiz {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

#answers button {
    display: block;
    margin-top: 1rem;
    font-size: 2rem;
    min-width: 300px;
    padding: 1rem 2rem;
    cursor: pointer;
    border: 0;
}

#answers {
    flex-grow: 1;
}

#quiz-q-result {
    font-size: 2rem;
}

#quiz-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#quiz-q-time {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 2rem;
}

#quiz-result-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    padding-top: 1.5rem;
}

#quiz-result-controls a {
    font-size: 1.5rem;
}

#quiz-progress {
    display: flex;
    gap: 2rem;
}

#quiz-progress-text {
    width: 100px;
    text-align: right;
}

#quiz meter {
    width: 100%;
}